{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} | Air Quality: Add new project{% endblock %}

{% block main %}
{% include 'aq_header.html' %}

<div class="container">
    {% include 'aq_breadcrumb.html' %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="header">Add new project</h3>

            <form role="form" id="form" method="POST" action="{% url 'geokey_airquality:add' %}" novalidate>
                {% csrf_token %}

                <div class="form-group">
                    <label for="project" class="control-label">Project</label>
                    <p class="help-block">Parentheses indicate a total number of categories of each project.</p>

                    <select class="form-control" id="project" name="project" required>
                        <option value="">Please select a project</option>
                        {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }} ({{ project.categories.count }})</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="loader" class="form-group text-center hidden">
                    <img src="{% static 'img/loader.gif' %}" alt="Loading project..." />
                </div>

                <div id="categories" class="hidden">
                    <label class="control-label">Categories</label>
                    <p class="help-block">Parentheses indicate a total number of fields of each category.</p>

                    {% for type_key, type_value in category_types.items %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="{{ type_key }}" class="control-label">Category for {{ type_value }} µg/m³</label>
                                    <select class="form-control category" id="{{ type_key }}" name="{{ type_key }}" required>
                                        <option value="">Please select a category</option>
                                    </select>
                                </div>

                                <div class="panel panel-default fields hidden">
                                    <div class="panel-body bg-info">
                                        {% for type_key, type_value in field_types.items %}
                                            <div class="form-group">
                                                <label for="{{ type_key }}" class="control-label">{{ type_value }} field</label>
                                                <select class="form-control field" id="{{ type_key }}" name="{{ type_key }}" required>
                                                    <option value="">Please select a field</option>
                                                </select>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a role="button" href="{% url 'geokey_airquality:index' %}" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
<div role="dialog" class="modal fade" id="modal-error" tabindex="-1" aria-labelledby="modal-error" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-delete-confirm">Error</h4>
            </div>

            <div class="modal-body panel-body"><p></p></div>

            <div class="modal-footer panel-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<script src="/static/js/admin.control.ajax.js"></script>
<script src="/static/js/admin.ui.forms.validate.js"></script>
<script src="/static/js/admin.ui.airquality.js"></script>
{% endblock %}
