{% extends 'base.html' %}

{% block title %} | Air Quality{% endblock %}

{% block main %}
{% include 'aq_header.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header">
                <span>Manage projects</span>

                {% if projects %}
                    <a role="button" href="{% url 'geokey_airquality:new' %}" class="btn btn-sm btn-success pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>Add new project</span>
                    </a>
                {% endif %}
            </h3>

            <ul class="list-unstyled overview-list">
                {% for project in projects %}
                <li>
                    <h3><a href="{% url 'geokey_airquality:project' project.id %}">{{ project.project.name }}</a></h3>
                    <p class="meta">Created by {{ project.project.creator.display_name }} {{ project.project.created_at|timesince }} ago</p>
                </li>
                {% empty %}
                <li>
                    <div class="well empty-list">
                        <p class="lead">We couldn't find any projects you are eligible to manage.</p>
                        <p>You can add a new project if you want it to be used with the Air Quality app.</p>
                        <a href="{% url 'geokey_airquality:new' %}" class="btn btn-lg btn-success">Add a new project</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
